#publisher {
  height: 100vh;
}

#subscriber {
  height: 25vh;
}

#subscriber_column {
  overflow-y: scroll;
  height: 100vh;
}

body .px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
